.material-icons{
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
@font-face{
  font-family:sans-serif;
  src:url("asset/SansSerifBold.ttf");
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
  }
/*NAV-BAR STARTS*/

.nav-top{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-left:1.5%;
  margin-right:1.5%;
  border-bottom:1px solid #f0f0f0;
}
.mmi{
  display:none;
  cursor:pointer;
}
.nav-lt{
  display:flex;
  align-items:center;
}
.nav-lt .material-icons{
  padding-bottom:10px;
  font-size:24px;
}
.nav-lt{
  max-height:100px;
  padding:12px;
  padding-left: 0;
}
.nav-lt img{
  cursor:pointer;
  margin-left:0;
} 
.nav-mid input{
  border:none;
  outline: none;
  width: 100%;
  background: #f0f0f0;
  padding-left: 18px;
  font-size: 21px;
  color:#707070;
  margin-left: 10px;
}
.nav-mid{
  padding: 5px;
  flex: 0.8;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 77px;
  margin-left: 57px;
  margin-top:2px;
}
.nav-rt{
  display:flex;
  justify-content: space-between;
  padding-top:10px;
  padding-right:10px;
}
#srh{
  margin-right: 20px;
}
.nav-rt span{
  margin-right:8px;
  cursor:pointer;
}
.nav-bttm-cat{
  display:flex;
  align-items:center;
  margin-left:38.5%; 
}
.nav-bttm{
  border-bottom:1px solid #f0f0f0;
}
.nav-bttm-cat span{
  padding:20px;
  margin-left:4px;
  cursor:pointer;
  margin-top:8px;
}
h3{
  font-family:sans-serif;
  font-size:18px;
  color:#223737;
  
}
/*NAV-BAR ENDS*/
/*CONTENT STARTS*/
.ncc .rgbtn{
  padding:21px 103px 21px 103px;
  font-size:25px;
  font-weight:400;
  color:#ffffff;
  background:#ff5e00;
  border:1px solid #ff5e00;
  border-radius:10px;
  margin-top:10px;
  cursor:pointer;
  transition:background 0.5s;
}
.ncc .rgbtn .material-icons{
  font-size: 26px;
  padding: 0 15px 0 0;
}
.ncc .rgbtn:hover{
  color:#ffffff;
  background:#e84100;
}
.ncc .wish{
  align-items:center;
  padding:20px 20px 20px 20px;
  border-radius:50%;
  border:0.5px solid #ff5e00;
  cursor:pointer;
  transition:background 0.5s;
  color:#ff5e00;
  margin-left: 18px;
  background:#ffffff;
}
.ncc .wish:hover{
  color:#ffffff;
  background:#ff5e00;
  
}
.wish .material-icons{
  font-size:31px; 
}
.list-top u{
  cursor:pointer;
}
.list-top-opt{
  display:flex;
  justify-content: space-between;
}
.fopt{
  display:flex;
  justify-content: space-between;
  flex:0.5;
  border:0.5px solid #bababa;
  align-items:center;
  padding:2px 36px 2px 40px;
  cursor:pointer;
}
.list-top-opt{
  display:flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 24px 0 24px;
}
.list-mid{
  margin-top: 20px;
  padding: 0 24px 0 24px;
}
.sop{
  padding:20px 290px 20px 40px;
  border: 0.5px solid #bababa;
  outline:none;
  cursor:pointer;
  font-size: 22px;
} 
.row{
  display:flex;
}
.row #img{
  width:100%;
  border-radius:3%;
  margin-top:26px;
  cursor:pointer;
  height:75%;
}
.row h1{
  color:#3c3c3c;
  font-size: 25px;
  margin-top:25px;
  cursor:pointer;
}
.row h2{
  color:#3c3c3c;
  font-size: 26px;
  margin-top:25px;
  cursor:pointer;
}
.row .col-2{
  margin-left:30px;
}
.row .col-3{
  margin-left:30px;
}
.list-top h5{
  font-size: 15px;
  color: #505050;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 21px;
}
.list-top h1{
  font-size:57px;
  color:#3c3c3c;;
  margin-top:30px;
  margin-left:18px;
}
.list-top p{
  font-size:24px;
  color:#000018;
  margin-top:3px;
  margin-left:22px;
}
.list-top #pp{
  margin-top:23px;
}
.list-top h5 a{
  color:#262626;
  font-weight: 600;
}
.list-bottm{
  margin-left:50px;
  margin-top:30px;
}
.list-bottm h3{
  margin-left:455px;
  margin-top:60px;
  font-size: 22px;
}
.list-bottm .ncc{
  margin-left:475px;
  margin-top:20px;
}
.pro{
  display:flex;
}
#proimg{
  margin-left:21px;
  margin-top:21px;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}
.pro-right{
  margin-left: 39px; 
  margin-top:21px;
}
.pro-right .usd h1{
  color:#3c3c3c;
}
.pro-right .usd h2{
  color:#3c3c3c;
  font-size:33px;
  margin-top: 20px;
}
.pro-right h4 a{
  text-decoration:none;
  color:black;
}
.pro-right h5{
  font-size: 15px;
  margin-top: 53px;
  font-weight: 400;
}
.pro-left h3{
  margin-left: 23px;
  margin-top: 85px;
  font-size: 25px;
}
.pro-left h1{
  margin-left: 23px;
  margin-top: 24px;
  font-size: 25px;
}
.pro-left h2{
  margin-left: 23px;
  margin-top: 18px;
  font-size: 25px;
  color:black;
}
#yml{
  width: 90%;
  margin-left: 18px;
  height: 62%;
  margin-top: 20px;
  padding: 10px 10px 10px 0px;
  border-radius: 4%;
}
#size{
  padding:40px 45px 40px 45px;
  border: 0.5px solid #000000;
  border-radius:4%;
  cursor:pointer;
}
#size1{
  padding:40px 40px 40px 40px;
  border: 0.5px solid #000000;
  border-radius:4%;
  cursor:pointer;
}
#size2{
  padding:40px 34px 40px 34px;
  border: 0.5px solid #000000;
  border-radius:4%;
  cursor:pointer;
} 
.color-selec{
  margin-top:10px;
}
.color-selec .col-2{
  margin-left:20px;
}
.color-selec .col-3{
  margin-left:20px;
}
.color-selec .col-4{
  margin-left:20px;
}
.sizecon .col-2{
  margin-left:20px;
}
.sizecon .col-3{
  margin-left:20px;
}
.sizecon .col-4{
  margin-left:20px;
}
#proico{
  border-radius:4%;
  width:100%;
  height:90%;
  cursor:pointer;
}
.desc{
  margin-top:25px;
}
.desc h1{
  font-size:25px;
}
.desc p{
  font-size:22px;
  margin-top:15px;
}
.desc ul li{
  font-size:22px;
}
.desc ul {
  margin-left:50px;
  margin-top:15px;
}
.sizecon{
  margin-top:10px;
}
.sizecon h3{
  font-weight:400;
  color:black;
}
#sr1{
  margin-top:20px; 
}
#sr2{
  margin-top:10px;
}
.pro-right h4{
  color:black;
  font-size:16px;
  margin-top: 20px;
  font-weight:600;
}
/*CONTENT ENDS*/
/*STAY STARTS*/
.sc{
  position:absolute;
  background:#f2f2f2;
  width:100%;
  margin-top:8%;
  display:flex;
  justify-content:space-between;
}
.sc2 input{
  padding:20px 205px 20px 20px;
  font-size:20px;
  margin-left:1px;
  border:none; 
  border:1px solid #f2f2f2;
  outline:none;
}

.sc1{
  padding:5% 0 5% 0;
}
.sc1 h1{
  font-size:45px;
  margin-top:15px;
}
.sc1 p{
  font-size:20px;
  margin-top:15px;
  width:100%;
}
.sc2{
  padding:6% 0 5% 0;
}
.sc2 p{
  font-size:20px;
  margin-top:5px;
}
.sc2 a{
  font-size:20px;
  color:black;
  margin-top:10px;
}
.sc2 .material-icons{
  border:1px solid #ff5e00;
  color:#ff5e00;
  background:#ffffff;
  font-size:35px;
  padding:14px 20px 14px 20px;
  position:absolute;
  cursor:pointer;
  border-top-right-radius:10%;
  border-bottom-right-radius:10%;
}
/*STAY ENDS*/
/*FOOTER*/
#foot{
  position:absolute;
  margin-top:62%;
  padding-top: 14%;
}
.f1{
  max-height: 100%;
  position: absolute;
  background: white;
  z-index: -1;
}
#foot1{
  position: relative;
  margin-top: 36.5%;
  z-index: 0;
}
/*ENDS*/
/*max-width:1024px-Laptop*/
@media(max-width:1024px){
  .list{
  width:100%;
  }
  .mmi{
  display:none;
  }
  .pro-left{
  width:50%;
  }
  .pro-right{
  width:50%; 
  margin-right:15px;
  }
  #proimg{
  width:100%;
  }
  #hf{
  width:88%;
  }
  .ncc .rgbtn .material-icons {
  display:none;
  }
  .nav-bttm-cat h3{
  font-size:15px;
  }
  .nav-bttm-cat span {
  margin-left:0;
  }
  .nav-lt img {
  width:80%;
  }
  .nav-rt img{
  width:80%;
  }
  .nav-rt span {
  margin-right: 0px;
  }
  .nav-mid input {
  font-size: 100%;
  }
  .nav-mid{
  margin-left: 0px;
  }
  #srh{
  width:70%;
  }
  .pro-right .usd h1 {
  font-size:25px;
  }
  .pro-right h5 {
  font-size: 13px;
  }
  .list-top h5 a {
  font-size: 13px;
  }
  .list-top h5 {
  font-size: 13px;
  }
  .pro-left h3 {
  font-size: 20px;
  }
  .pro-right h4 a {
  font-size: 13px;
  }
  .pro-right .usd h2 {
  font-size:26px;
  }
  .pro-right h4 {
  font-size: 13px;
  }
  .desc h1 {
  font-size: 20px;
  }
  .desc p {
  font-size: 18px;
  }
  .desc ul li {
  font-size: 18px;
  }
  .pro-left h1 {
  font-size: 20px;
  }
  #yml {
  height:50%;
  }
  .pro-left h2 {
  font-size: 22px;
  }
  .sc1 h1 {
  font-size:35px;
  }
  .sc1 p {
  font-size: 18px;
  margin-top: 7px;
  }
  .sc2 p {
  font-size: 18px;
  margin-top: 5px;
  }
  .sc2 a {
  font-size: 18px;
  margin-top: 10px;
  }
  .sc2 input {
  padding: 20px 178px 20px 20px;
  font-size: 17px;
  }
  .color-selec {
  width: 79%;
  }
  .color-selec .row.row2 #proico{
  width: 100%;
  }
  .color-selec .row.row2{
  width:47%;
  }
  #size {
  padding: 30px 35px 30px 35px;
  }
  #size1{
  padding: 30px 30px 30px 30px;
  }
  #size2{
  padding: 30px 25px 30px 25px;
  }
}
/*max-width:768px-Tablet*/
@media(max-width:768px){
  .nav-mid input {
  display:none;
  }
  .nav-mid {
  background:#ffffff;
  }
  .mmi{
  display:block;
  cursor:pointer;
  margin-left:7px;
  }
  .nav-lt .material-icons {
  padding-bottom: 0px;
  margin-top:5px;
  }
  .nav-lt img {
  margin-left:10px;
  }
  .nav-bttm {
  display:none;
  }
  .list{
  width:100%;
  }
  .pro-left{
  width:50%;
  }
  .pro-right{
  width:50%;
  }
  #proimg{
  width:100%;
  }
  .pro{
  width:100%;
  }
  .usd{
  display:flex;
  align-items:center;
  }
  .pro-right .usd h1 {
  font-size: 18px;
  width: 61%;
  }
  .pro-right .usd h2 {
  font-size: 18px;
  }
  #size {
  padding: 15px 18px 5px 18px;
  }
  #size1 {
    padding: 15px 14px 15px 16px;
  }
  #size2 {
    padding: 15px 8px 15px 11px;
  }
  #hf{
  width:100%;
  }
  .desc ul li {
  display:none;
  }
  .desc ul li {
  display:none;
  }
  .desc .pp p{
  display:none;
  }
  .desc p {
  font-size: 16px;
  }
  .pro-left h1 {
  font-size: 18px;
  }
  .pro-left h2 {
    font-size: 20px;
  }
  .sc2 input {
  padding: 20px 102px 20px 20px;
  font-size: 15px;
  }
  .pro-left h3 {
  font-size: 18px;
  }
  #yml {
  height: 45%;
  }
  .sizecon h3{
  font-size:14px;
  }
  .color-selec .row.row2 #proico {
  width: 94%;
  }
  .ncc .rgbtn {
  padding: 21px 50px 21px 50px;
  font-size: 20px;
  font-weight:600;
  }
  .wish .material-icons {
    font-size: 24px;
  }
  .list-top h5 a {
  font-size: 11px;
  }
  .list-top h5 {
  font-size: 11px;
  }
  .pro-right h5 {
  font-size: 11px;
  }
  .pro-right h4 {
  font-size: 11px;
  }
  .pro-right h4 a {
  font-size: 11px;
  }
  .sc1 h1 {
  font-size: 35px;
  }
  .sc1{
  margin-left: 32px;
  }
  .sc2{
  margin-left: 32px;
  }
  .sc1 p {
  font-size: 16px;
  margin-top: 7px;
  }
  .sc2 p {
  font-size: 16px;
  margin-top: 5px;
  }
  .sc2 a {
  font-size: 16px;
  margin-top: 10px;
  }
  .nav-mid span{
  margin-left:178px;
  padding-left:147px;
  margin-top: 10px;
  display:block;
  }
  #usr{
  display:none;
  }
  #fav{
  display:none;
  }
  .nav-mid {
  margin-right:0;
  }
  .nav-rt {
  padding-right:7px;
  }
  .nav-rt img {
  width:24px;
  }
}