.material-icons{
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
@font-face{
  font-family:sans-serif;
  src:url("asset/SansSerifBold.ttf");
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
/*NAV-BAR STARTS*/
}
.nav-top{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-left:1.5%;
  margin-right:1.5%;
  border-bottom:1px solid #f0f0f0;
}
.nav-lt{
  max-height:100px;
  padding:12px;
  padding-left: 0;
}
.nav-lt img{
  cursor:pointer;
  margin-left:0;
} 
.nav-mid input{
  border:none;
  outline: none;
  width: 100%;
  background: #f0f0f0;
  padding-left: 18px;
  font-size: 21px;
  color:#707070;
  margin-left: 10px;
}
.nav-mid{
  padding: 5px;
  flex: 0.8;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 77px;
  margin-left: 57px;
  margin-top:2px;
}
.nav-rt{
  display:flex;
  justify-content: space-between;
  padding-top:10px;
  padding-right:10px;
}
#srh{
  margin-right: 20px;
}
.nav-rt span{
  margin-right:8px;
  cursor:pointer;
}
.nav-bttm-cat{
  display:flex;
  align-items:center;
  margin-left:38.5%; 
}
.nav-bttm{
  border-bottom:1px solid #f0f0f0;
}
.nav-bttm-cat span{
  padding:20px;
  margin-left:4px;
  cursor:pointer;
  margin-top:8px;
}
h3{
  font-family:sans-serif;
  font-size:18px;
  color:#223737;
  
}
/*NAV-BAR ENDS*/
/*CONTENT STARTS*/
.ncc .rgbtn{
  padding:20px 40px 20px 40px;
  font-size:22px;
  font-weight:400;
  color:#ff5e00;
  background:#ffffff;
  border:1px solid #ff5e00;
  border-radius:10px;
  margin-top:10px;
  cursor:pointer;
  transition:background 0.5s;
  margin-left: 6px;
}
.ncc .rgbtn:hover{
  color:#ffffff;
  background:#ff5e00;
}
.list-top u{
  cursor:pointer
}
.list-top-opt{
  display:flex;
  justify-content: space-between;
}
.fopt{
  display:flex;
  justify-content: space-between;
  flex:0.5;
  border:0.5px solid #bababa;
  align-items:center;
  padding:2px 36px 2px 40px;
  cursor:pointer;
}
.list-top-opt{
  display:flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 24px 0 24px;
}
.list-mid{
  margin-top: 20px;
  padding: 0 24px 0 24px;
}
.sop{
  padding:20px 290px 20px 40px;
  border: 0.5px solid #bababa;
  outline:none;
  cursor:pointer;
  font-size: 22px;
} 
.row{
  display:flex;
}
.row #img{
  width:100%;
  border-radius:3%;
  margin-top:26px;
  cursor:pointer;
  height:75%;
}
.row h1{
  color:#3c3c3c;
  font-size: 25px;
  margin-top:25px;
  cursor:pointer;
}
.row h2{
  color:#3c3c3c;
  font-size: 26px;
  margin-top:25px;
  cursor:pointer;
}
.row .col-2{
  margin-left:30px;
}
.row .col-3{
  margin-left:30px;
}
.list-top h5{
  font-size: 15px;
  color: #505050;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 21px;
}
.list-top h1{
  font-size:57px;
  color:#3c3c3c;;
  margin-top:30px;
  margin-left:18px;
}
.list-top p{
  font-size:24px;
  color:#000018;
  margin-top:3px;
  margin-left:22px;
}
.list-top #pp{
  margin-top:23px;
}
.list-top h5 a{
  color:#262626;
  font-weight: 600;
}
.list-bottm{
  margin-left:50px;
  margin-top:30px;
}
.list-bottm h3{
  margin-left:455px;
  margin-top:60px;
  font-size: 22px;
}
.list-bottm .ncc{
  margin-left:475px;
  margin-top:20px;
}
/*CONTENT ENDS*/
/*STAY STARTS*/
.sc{
  position:absolute;
  background:#f2f2f2;
  width:100%;
  margin-top:13%;
  display:flex;
  justify-content:space-between;
}
.sc2 input{
  padding:20px 205px 20px 20px;
  font-size:20px;
  margin-left:1px;
  border:none; 
  border:1px solid #f2f2f2;
  outline:none;
}

.sc1{
  padding:5% 0 5% 0;
}
.sc1 h1{
  font-size:45px;
  margin-top:15px;
}
.sc1 p{
  font-size:20px;
  margin-top:15px;
}
.sc2{
  padding:6% 0 5% 0;
}
.sc2 p{
  font-size:20px;
  margin-top:5px;
}
.sc2 a{
  font-size:20px;
  color:black;
  margin-top:10px;
}
.sc2 .material-icons{
  border:1px solid #ff5e00;
  color:#ff5e00;
  background:#ffffff;
  font-size:35px;
  padding:14px 20px 14px 20px;
  position:absolute;
  cursor:pointer;
  border-top-right-radius:10%;
  border-bottom-right-radius:10%;
}
/*STAY ENDS*/
/*FOOTER*/
#foot{
  position:absolute;
  margin-top:66%;
  padding-top: 14%;
}
.f1{
  max-height: 100%;
  position: absolute;
  background: white;
  z-index: -1;
}
#foot1{
  position: relative;
  margin-top: 40.5%;
  z-index: 0;
}
/*ENDS*/
/*max-width:1024px-Laptop*/
@media(max-width:1024px){
   .nav-mid input {
   font-size:17px;
   }
   .nav-bttm-cat h3{
   font-size: 17px;
   }
   .nav-lt img {
   width:210px;
   }
   #srh {
   width:24px;
   }
   .nav-rt img{ 
   width:24px;
   }
   .sc1 p {
   font-size: 17px;
   }
   .sc2 p {
   font-size: 17px;
   }
   .sc2 {
   padding: 6% 8% 5% 0;
   }
   #foot{
   padding-top:18%;
   } 
   .list-top h1 {
   font-size: 45px;
   }
   .list-top p {
   font-size: 20px;
   }
   .sop {
    padding: 20px 140px 20px 40px;
   }
   .row h1{
   font-size:20px;
   margin-top:15px;
   }
   .list-bottm h3 {
   margin-left: 383px;
   font-size:20px;
   }
   .row #img {
   height:70%;
   }
   .row h2{
   font-size:25px;
   }
   .list-bottm {
   margin-left:0px;
   }
   .ncc .rgbtn {
   margin-left:0px;
   }
   .list-bottm .ncc {
    margin-left: 401px;
   }
}