.material-icons{
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
@font-face{
  font-family:sans-serif;
  src:url("asset/SansSerifBold.ttf");
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
/*NAV-BAR STARTS*/
}
.nav-top{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-left:1.5%;
  margin-right:1.5%;
  border-bottom:1px solid #f0f0f0;
}
.nav-lt{
  max-height:100px;
  padding:12px;
  padding-left: 0;
}
.nav-lt img{
  cursor:pointer;
  margin-left:0;
} 
.nav-mid input{
  border:none;
  outline: none;
  width: 100%;
  background: #f0f0f0;
  padding-left: 18px;
  font-size: 21px;
  color:#707070;
  margin-left: 10px;
}
.nav-mid{
  padding: 5px;
  flex: 0.8;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 77px;
  margin-left: 57px;
  margin-top:2px;
}
.nav-rt{
  display:flex;
  justify-content: space-between;
  padding-top:10px;
  padding-right:10px;
}
#srh{
  margin-right: 20px;
}
.nav-rt span{
  margin-right:8px;
  cursor:pointer;
}
.nav-bttm-cat{
  display:flex;
  align-items:center;
  margin-left:38.5%; 
}
.nav-bttm{
  border-bottom:1px solid #f0f0f0;
}
.nav-bttm-cat span{
  padding:20px;
  margin-left:4px;
  cursor:pointer;
  margin-top:8px;
}
h3{
  font-family:sans-serif;
  font-size:18px;
  color:#223737;
}
/*NAV-BAR ENDS*/
/*CONTENT STARTS*/
/*CON-1 STARTS*/
/*ROW-1 STARTS*/
#row-1{
  width:100%;
  z-index:-1;
  position:absolute;
}
.row-1{
  z-index:0;
}
.in input{
  margin-top: 22%;
  padding: 25px 850px 25px 28px;
  font-size: 24px;
  margin-left: 88px;
  color:#767676;
  outline:none;
  border:none;
}
/*ROW-1 ENDS*/
.row-2{
  margin-top:46px;
  display:flex;
  align-items center;
  width:100%;
}
.s{
  margin-left:154px;
  margin-top:30px;
}
.s h3{
  margin-top:20px;
  font-weight:500;
  font-size:20px;
  color:#2f2f2f;
}
.d{
  margin-left:135px;
  margin-top:30px;
}
.d h3{
  margin-top:15px;
  font-weight:500;
  font-size:20px;
  color:#2f2f2f;
  margin-left: 19px;
}
.r{
  margin-left:135px;
  margin-top:30px;
}
.r h3{
  margin-top:30px;
  font-weight:500;
  font-size:20px;
  color:#2f2f2f;
  margin-left: 14px;
}
.a{
  margin-left:135px;
  margin-top:30px;
}
.a h3{
  margin-top:25px;
  font-weight:500;
  font-size:20px;
  color:#2f2f2f;
  margin-left: 19px;
}
.c{
  margin-left:135px;
  margin-top:30px;
}
.c h3{
  margin-top:15px;
  font-weight:500;
  font-size:20px;
  color:#fd4f00;
}
.s:hover,.d:hover,.r:hover,.a:hover{
  text-decoration:underline;
  cursor:pointer;
}
.row-3{
  padding:25px 100px 20px 88px;
}
.row-3 h5{
  color:#787878;
  font-weight:500;
  font-size:16px;
}
.row-3 h5 a{
  color:#787878;
  font-weight:500;
  font-size:16px;
}
.row-4{
  display:flex;
  padding:25px 88px 25px 88px;
  justify-content:space-between;
}
.row-4 p{
  font-size:20px;
  color:#2f2f2f;
}
.row-4-l p{
  padding:10px 173px 10px 0;
}
.row-4-r p{
  padding:20px 267px 20px 0;
}
.row-4-l p:hover{
  color:#fd4f00;
}
.ca,.sp{
  border-top:0.5px solid #cccccc;
  border-bottom:0.5px solid #cccccc;
  cursor:pointer;
}
.cu,.is,.do,.can,.wi,.wil,.doe,.are,.im{
  border-bottom:0.5px solid #cccccc;
  cursor:pointer;
}
.bold360{
  display:flex;
  margin-top:50px;
  margin-left:322px;
}
.bold360 h6{
  font-size:15px;
  font-weight:500;
  color:#666666;
  margin-top: 4px;
}
.bold360 h6 a{
  color:#666666;
  text-decoration:none;
  
}
.bold360 h6 a:hover{
  text-decoration:underline;
}
#b360{
  margin-left:11px;
}
/*CONTENT ENDS*/
/*STAY STARTS*/
.sc{
  position:absolute;
  background:#f2f2f2;
  width:100%;
  margin-top:6%;
  display:flex;
  justify-content:space-between;
}
.sc2 input{
  padding:20px 205px 20px 20px;
  font-size:20px;
  margin-left:1px;
  border:none; 
  border:1px solid #f2f2f2;
  outline:none;
}

.sc1{
  padding:5% 0 5% 0;
}
.sc1 h1{
  font-size:45px;
  margin-top:15px;
}
.sc1 p{
  font-size:20px;
  margin-top:15px;
}
.sc2{
  padding:6% 0 5% 0;
}
.sc2 p{
  font-size:20px;
  margin-top:5px;
}
.sc2 a{
  font-size:20px;
  color:black;
  margin-top:10px;
}
.sc2 .material-icons{
  border:1px solid #ff5e00;
  color:#ff5e00;
  background:#ffffff;
  font-size:35px;
  padding:14px 20px 14px 20px;
  position:absolute;
  cursor:pointer;
  border-top-right-radius:10%;
  border-bottom-right-radius:10%;
}
/*STAY ENDS*/
/*FOOTER*/
#foot{
  position:absolute;
  margin-top:60%;
  padding-top: 14%;
}
.f1{
  max-height: 100%;
  position: absolute;
  background: transparent;
  z-index: -1;
}
#foot1{
  position: relative;
  margin-top: 33.5%;
  z-index: 0;
}
/*ENDS*/
/*max-width:1024px-Laptop*/
@media(max-width:1024px){
   .nav-mid input {
   font-size:17px;
   }
   .nav-bttm-cat h3{
   font-size: 17px;
   }
   .nav-lt img {
   width:210px;
   }
   #srh {
   width:24px;
   }
   .nav-rt img{ 
   width:24px;
   }
   .sc1 p {
   font-size: 17px;
   }
   .sc2 p {
   font-size: 17px;
   }
   .sc2 {
   padding: 6% 8% 5% 0;
   }
   #foot{
   padding-top:18%;
   } 
   .row-2 img{
   width:69px;
   }
   .in input{
   padding: 25px 579px 25px 28px;
   font-size:20px;
   }  
   .s {
    margin-left: 85px;
   } 
   .d {
    margin-left: 95px;
   } 
   .r {
    margin-left: 95px;
   } 
   .a {
    margin-left: 95px;
   } 
   .c {
    margin-left: 95px;
   } 
   .d h3 {
    margin-top: 32px;
   }
   .r h3 {
    margin-top: 15px;
   }
   .c h3 {
    margin-top: 23px;
   }
   .row-4-r{
   margin-left: 38px;
   }
   .row-4-l p{
   font-size: 17px;
   }
   .row-4-r p{
   font-size: 17px;
   }
   .bold360 h6 {
   font-size: 13px; 
   }
   .bold360{
   margin-left: 174px;
   }
}